.custom-nav {
  display: flex;
  align-items: end;
  z-index: 10;
  position: sticky;
  top: 10px;
  left: 0px;
  margin: 20px 10px 20px 0px;
}
@media screen and (max-width: 965px) {
  .custom-nav {
    background-color: rgba(0, 0, 0, 0.559);
    top: 0;
    margin: 0 0 0 5px;
  }
}
.custom-nav .menu-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-nav .app-title {
  font-family: "Sofia";
  font-size: 34px;
  max-height: 45px;
}
.custom-nav .app-title a {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 1025px) {
  .custom-nav .app-title {
    font-size: 25px;
  }
}
.custom-nav .nav-g {
  padding: 10px 0;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.672);
}
@media screen and (max-width: 960px) {
  .custom-nav .nav-g {
    display: none;
  }
}
.custom-nav .nav-g .nav-btn {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-family: "Teko";
  padding: 5px 10px;
  text-align: center;
  border-radius: 40px;
  font-size: 17px;
  letter-spacing: 0.1em;
  background: rgba(251, 251, 251, 0.13);
}
.custom-nav .nav-g .btn-grad4 {
  position: relative;
  background-image: linear-gradient(to right, #232526 0%, rgba(178, 178, 179, 0.6823529412) 51%, #232526 100%);
  text-align: center;
  transition: 0.5s ease all;
  background-size: 200% auto;
  color: rgb(255, 255, 255);
  border-radius: 40px;
  opacity: 0.8;
  animation-name: do-sumn;
  animation-duration: 0.4s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
.custom-nav .nav-g .btn-grad4:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.custom-nav .nav-x {
  display: none;
  color: #000;
  font-size: 12px;
}
@media screen and (max-width: 960px) {
  .custom-nav .nav-x {
    display: block;
  }
}
.custom-nav .nav-x .nav-x-btn {
  position: relative;
  color: rgba(224, 212, 212, 0.881);
  font-family: "Sofia";
  transition: all 0.5s ease;
  border-right: 2px solid rgba(255, 246, 246, 0.353);
  padding: 5px;
}
.custom-nav .nav-x .nav-x-btn::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: -4px;
  width: 0%;
  transition: ease-out 0.2s all;
  height: 2px;
  background-color: rgb(64, 62, 62);
}
.custom-nav .nav-x .nav-x-btn:hover::after {
  width: 110%;
}
.custom-nav .nav-x .nav-x-btn:hover::after {
  width: 100%;
  margin-left: 2px;
}
.custom-nav .nav-x .nav-x-btn:hover {
  text-decoration: none;
  color: white;
}
.custom-nav .nav-x .nav-x-btn:last-child {
  border: none;
}
.custom-nav .logout-component form {
  margin: 0 10px 0 0px;
  border: none;
  position: absolute;
  right: 0px;
  top: 0;
}
.custom-nav .logout-component form button {
  background: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 27px;
  font-family: "Sofia";
  position: relative;
}
@media screen and (max-width: 960px) {
  .custom-nav .logout-component form button {
    font-size: 22px;
  }
}
.custom-nav .logout-component form button::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: -4px;
  width: 0%;
  transition: ease-out 0.2s all;
  height: 2px;
  background-color: rgb(64, 62, 62);
}
.custom-nav .logout-component form button:hover::after {
  width: 110%;
}

@keyframes do-sumn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes do-sumn2 {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1.16);
    opacity: 1;
  }
}
.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .login-container {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 500px) {
  .login-container {
    transform: scale(0.7) translateX(-5%);
  }
}
@media screen and (max-width: 420px) {
  .login-container {
    transform: scale(0.6);
  }
}
.login-container .login-component {
  position: relative;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  background: transparent;
  min-height: 500px;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.286);
  border-radius: 22px;
  border: 2px solid rgba(255, 255, 255, 0.137);
}
@media screen and (max-width: 800px) {
  .login-container .login-component {
    display: block;
    transform: scaleX(0.8) scaleY(0.7);
  }
}
.login-container .login-component .welcome-panel {
  min-height: 545px;
  width: 500px;
  position: relative;
  border-radius: 22px 0 0 22px;
  background: url("https://i.postimg.cc/5tGTzV1S/20944201.jpg") no-repeat center center;
  background-size: cover;
  padding: 50px 50px 0 50px;
}
@media screen and (max-width: 800px) {
  .login-container .login-component .welcome-panel {
    border-radius: 22px 22px 0 0;
    min-height: 500px;
    width: 650px;
    background-size: 100% 100%;
  }
}
.login-container .login-component .welcome-panel h1 {
  font-family: "Sofia", sans-serif;
  color: rgba(60, 1, 60, 0.789);
  width: 50%;
  line-height: 2.5rem;
  position: absolute;
  bottom: 55px;
  margin-left: 120px;
  font-weight: 1000;
  font-size: 27px;
}
@media screen and (max-width: 800px) {
  .login-container .login-component .welcome-panel h1 {
    font-size: 12px;
    line-height: 2rem;
    bottom: 90px;
    left: 120px;
    width: 80%;
    margin-left: 0;
    text-align: center;
  }
}
.login-container .login-component form {
  min-width: 440px;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.459);
  color: rgb(255, 255, 255);
  border: none;
  border-top-left-radius: 0;
  border-end-start-radius: 0;
  border-top-right-radius: 22px;
  border-end-end-radius: 22px;
  min-height: 545px;
  margin: 0;
  padding: 60px 70px 70px 70px;
  overflow-y: scroll;
}
@media screen and (max-width: 800px) {
  .login-container .login-component form {
    border-radius: 0 0 22px 22px;
    padding: 0 78px;
    min-width: 650px;
  }
  .login-container .login-component form label,
  .login-container .login-component form input {
    width: 75%;
    margin: 12px auto;
  }
}
.login-container .login-component form h3 {
  font-family: "Chango";
  text-align: center;
  opacity: 0.7;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .login-container .login-component form h3 {
    margin-bottom: 40px;
  }
}
.login-container .login-component form input {
  margin-bottom: 20px;
}
.login-container .login-component form .errors {
  max-width: 300px;
  max-height: 80px;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Teko", serif;
}
.login-container .login-component form .errors .myalert {
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  padding: 0px;
}
.login-container .login-component form button {
  padding: 10px 15px;
  margin: 5px auto;
  background-color: transparent;
  color: white;
  outline: none;
  transition: 0.3s ease-in all;
  border: 2px solid #b3001b;
  border-radius: 5px;
  cursor: pointer;
}
.login-container .login-component form button:hover {
  background-color: #b3001b;
}

.content {
  padding: 30px;
}
.content .acct-mgmt-header {
  color: #fff;
  font-family: "Chango";
}
.content .acct-mgmt-header .header-title {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .content .acct-mgmt-header .header-title h1 {
    font-size: 30px;
  }
}
.content .acct-mgmt-header #add-modal {
  margin-left: 20px;
}
.content .acct-mgmt-header #add-modal h2 {
  font-weight: 100;
  font-size: 12px;
}
@media screen and (max-width: 800px) {
  .content .acct-mgmt-header #add-modal h2 {
    font-size: 8px;
    border: 2px solid black;
  }
}
.content .table-div {
  color: #fff;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.content .table-div .role-group {
  display: grid;
  width: 80%;
  max-height: 190px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: auto;
  border: 2px solid rgba(227, 109, 109, 0.065);
  background: rgba(255, 125, 125, 0.055);
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.content .table-div .role-group::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}
.content .table-div .role-group::-webkit-scrollbar-thumb {
  background-color: rgba(71, 2, 2, 0.544);
}
.content .table-div .role-group::-webkit-scrollbar-thumb:hover {
  background-color: rgba(78, 3, 3, 0.805);
}
.content .table-div .role-group::-webkit-scrollbar-track {
  background-color: rgba(239, 77, 8, 0.174);
}
@media screen and (max-width: 1200px) {
  .content .table-div .role-group {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .content .table-div .role-group {
    display: block;
    width: 320px;
    margin: 0;
    max-height: none;
    height: 50vh;
    padding: 10px;
  }
}
.content .table-div .role-group .tr-div {
  padding: 10px;
  margin: 30px;
  position: relative;
  line-height: 0.9rem;
  transition: 0.5s;
  border-radius: 22px;
  border: 2px solid rgba(255, 255, 255, 0.235);
  color: rgba(235, 227, 227, 0.629);
}
.content .table-div .role-group .tr-div:hover {
  border-color: transparent;
  color: #fff;
}
.content .table-div .role-group .tr-div .profile-img {
  text-align: start;
}
.content .table-div .role-group .tr-div .profile-img .fa-id-card-clip {
  font-size: 4pc;
}
.content .table-div .role-group .tr-div .edit-group {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: start;
  margin: 0 0 20px 0;
  justify-content: end;
}
.content .table-div .role-group .tr-div .edit-group i {
  font-size: 24px;
  margin: 0 10px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  cursor: pointer;
}
.content .table-div .role-group .tr-div .edit-group .input-edit {
  background-image: linear-gradient(to right, #348F50 0%, #56B4D3 51%, #348F50 100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}
.content .table-div .role-group .tr-div .edit-group .input-edit:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.content .table-div .role-group .tr-div .edit-group .delete-from {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.content .table-div .role-group .tr-div .edit-group .delete-from .input-imp {
  background-image: linear-gradient(to right, #e2273d 0%, #fba0a0 51%, #c72e40 100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}
.content .table-div .role-group .tr-div .edit-group .delete-from .input-imp:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.content .table-div .role-group .tr-div .td-item {
  background-color: transparent;
  text-align: end;
  padding: 3px;
  cursor: pointer;
}
.content .modal-box-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgba(7, 6, 6, 0.813);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f4f4f4;
  z-index: 10;
  animation-name: open-modal;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}
.content .modal-box-container .custom-back p {
  font-family: "Amatic SC";
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  top: 10px;
  right: 10px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  border-radius: 50%;
  transition: all 0.5s;
  cursor: pointer;
}
.content .modal-box-container .modal-box {
  transform: scale(0.8);
  padding: 15px;
  position: relative;
  width: 45%;
  margin: 20px auto;
  z-index: 50;
  border-radius: 10px;
  box-shadow: 2px 7px 12px 1px rgba(0, 0, 0, 0.119);
  background: rgba(74, 72, 72, 0.237);
}
.content .modal-box-container .modal-box h2 {
  text-align: center;
}
.content .modal-box-container .modal-box form {
  border: none;
}
.content .modal-box-container .modal-box form div {
  max-width: 500px;
  margin: 0px auto 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .modal-box-container .modal-box form div label {
  font-size: 24px;
  font-weight: 100;
}
.content .modal-box-container .modal-box form div input,
.content .modal-box-container .modal-box form div select {
  max-height: 40px;
  font-size: 16px;
  text-align: center;
  max-width: 20vw;
}
.content .modal-box-container .modal-box form .submit-btn {
  width: 100%;
  align-self: center;
  margin: 10px 0;
}
.content .modal-box-container .modal-box form .submit-btn input {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 18px;
}
.content .modal-box-container .modal-box form .submit-btn .btn-grad {
  background-image: linear-gradient(to right, #606c88 0%, #3f4c6b 51%, #606c88 100%);
}
.content .modal-box-container .modal-box form .submit-btn .btn-grad {
  margin: 10px auto 0 auto;
  padding: 6px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: none;
  border-radius: 10px;
  display: block;
}
.content .modal-box-container .modal-box form .submit-btn .btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.content .modal-box-container .modal-box .custom-user-icon {
  font-size: 30px;
  text-align: center;
  margin: 0px 0px 5px 0px;
  z-index: 100;
}
.content .modal-box-container .modal-box .custom-user-icon i {
  text-align: center;
  padding: 20px;
  border-radius: 29%;
  background: #0F2027;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-grad {
  background-image: linear-gradient(to right, #757F9A 0%, #D7DDE8 51%, #757F9A 100%);
  margin: 10px;
  padding: 1px 4px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  display: block;
}
.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-grad3 {
  background-image: linear-gradient(to right, #1D976C 0%, #93F9B9 51%, #1D976C 100%);
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s all ease;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.371);
  display: block;
}
.btn-grad3:hover {
  background-position: right center;
  color: #fff;
  border-color: transparent;
  text-decoration: none;
}

.btn-gradx0 {
  background-image: linear-gradient(to right, #7b4397 0%, #dc2430 51%, #7b4397 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 9px 12px 10px rgba(9, 9, 9, 0.2431372549);
  border-radius: 10px;
  display: block;
}
.btn-gradx0:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-gradx1 {
  background-image: linear-gradient(to right, #480048 0%, rgba(215, 11, 11, 0.7764705882) 51%, #480048 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 9px 12px 10px rgba(9, 9, 9, 0.2431372549);
  border-radius: 10px;
  display: block;
}
.btn-gradx1:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-gradx2 {
  margin: 10px;
  background-image: linear-gradient(to right, #bebebe 0%, #FFFFFF 51%, #bebebe 100%);
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 9px 12px 10px rgba(9, 9, 9, 0.2431372549);
  border-radius: 10px;
  display: block;
}
.btn-gradx2:hover {
  background-position: right center;
  /* change the direction of the change here */
  text-decoration: none;
}
.btn-gradx2:hover * {
  color: #2a2828;
}

.delete-modal {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  z-index: 1000;
  animation-name: open-modal;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

/* Modal content box */
.delete-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 80%;
  margin: 100px auto; /* Center horizontally and vertically */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.delete-modal-content h2 {
  font-family: "Sofia";
}
.delete-modal-content p {
  font-family: "Teko";
  font-size: 20px;
}
.delete-modal-content .btn {
  color: #fff;
  transition: 0.4s all ease-in-out;
  font-family: "Teko";
  font-size: 16px;
  border: 2px solid rgba(0, 0, 0, 0.157);
}
.delete-modal-content .btn:hover {
  border-color: white;
}

.delete-btn {
  background-color: #f1726e;
}
.delete-btn:hover {
  background-color: rgb(231, 18, 11);
}

.cancel-btn {
  background-color: #6991e7;
}
.cancel-btn:hover {
  background-color: #0051ff;
}

@keyframes open-modal {
  0% {
    opacity: 0.01;
    transform: scale(1) translateX(50vw) translateY(50vh);
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
  }
  100% {
    opacity: 0.09;
    transform: scale(1) translateX(25vw) translateY(0vh);
    height: 90vh;
    width: 90vh;
    border-radius: 50%;
  }
}
.course-page-container {
  padding: 30px;
}
.course-page-container h1 {
  font-family: "Chango";
  color: white;
}
.course-page-container .table-wrapper {
  width: 70%;
  margin: auto;
  height: 60vh;
  overflow-y: scroll;
  padding: 20px;
  border-radius: 12px;
  border: 2px solid rgba(0, 0, 0, 0.546);
  background-color: rgba(255, 255, 255, 0.915);
}
.course-page-container .table-wrapper::-webkit-scrollbar {
  width: 6px;
  cursor: pointer;
}
.course-page-container .table-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(71, 2, 2, 0.544);
}
.course-page-container .table-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgba(78, 3, 3, 0.805);
}
.course-page-container .table-wrapper::-webkit-scrollbar-track {
  background-color: rgba(239, 77, 8, 0.174);
}
.course-page-container .table-wrapper .table-content {
  font-family: "Amatic SC";
  font-weight: 400;
}
.course-page-container .table-wrapper .table-content div {
  text-align: center;
}
.course-page-container .table-wrapper .table-content .heading {
  font-size: 25px;
  padding-right: 20px;
  border-right: 1px solid black;
}
.course-page-container .table-wrapper .table-content .heading:last-child {
  border-right: none;
}
.course-page-container .table-wrapper .table-content .custom-card {
  margin: 20px 0px;
  padding: 10px 4px;
  transform: scale(0.95);
  transition: all ease 0.5s;
  font-size: 17px;
  background-color: rgba(0, 0, 0, 0.786);
  color: white;
  border: 1px solid rgba(13, 1, 29, 0.879);
}
.course-page-container .table-wrapper .table-content .custom-card:hover {
  transform: scale(1.02);
}
.course-page-container #courseModal {
  color: white;
}
.course-page-container #courseModal .modal-content {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(39, 35, 35, 0.799);
}
.course-page-container #courseModal .modal-content .close-btn {
  color: rgba(0, 0, 0, 0.91);
  font-size: 4pc;
  position: absolute;
  top: 10px;
  right: 52px;
  cursor: pointer;
  transition: 0.4s all ease;
}
.course-page-container #courseModal .modal-content .close-btn:hover {
  color: white;
}
.course-page-container #courseModal .modal-content #courseForm {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 12px;
  padding: 12px;
  box-shadow: 2px 7px 40px rgba(0, 0, 0, 0.7);
}
.course-page-container #courseModal .modal-content #courseForm div {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.course-page-container #courseModal .modal-content #courseForm div input {
  margin: 0px 10px;
  width: 270px;
}

.blue-btn {
  margin: auto;
  border: 1px solid rgba(255, 255, 255, 0.213);
  background-image: linear-gradient(to right, #005C97 0%, #363795 51%, #005C97 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

body {
  font-family: Arial, sans-serif;
  background: #c31432; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.custom-container {
  height: 100vh;
  overflow-y: scroll;
}
.custom-container::-webkit-scrollbar {
  width: 6px;
  cursor: pointer;
}
.custom-container::-webkit-scrollbar-thumb {
  background-color: rgba(71, 2, 2, 0.544);
}
.custom-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(78, 3, 3, 0.805);
}
.custom-container::-webkit-scrollbar-track {
  background-color: rgba(239, 77, 8, 0.174);
}
.custom-container .for-some-stuff {
  font-family: "Teko";
  border-radius: 12px;
}
.custom-container .for-some-stuff .special-jumbotron {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 18px 13px rgba(16, 15, 15, 0.348);
  border: 1px solid rgba(236, 231, 231, 0.255);
}
@media screen and (max-width: 1070px) {
  .custom-container .for-some-stuff .special-jumbotron {
    background: none;
    background-position: center right;
  }
}
.custom-container .for-some-stuff .special-jumbotron .mask {
  height: 100%;
  background: rgba(115, 2, 53, 0.308);
}
.custom-container .for-some-stuff h1 {
  font-size: 90px;
}
.custom-container .for-some-stuff h4 {
  font-size: 40px;
}