{% if role == "Supervisor" %}
<div class="custom-group">
    <div class="d-flex justify-content-between">
        <div>
            <h3 class="d-inline">Supervisors</h3>
            <p class="text-right badge badge-light">{{ supervisors|length }} found</p>
        </div>
    </div>
    <div class="role-group">
        {% if supervisors|length == 0 %}
        <p>Nothing to show here.</p>
       {% endif %}
        {% for s in supervisors  %}
        <div class="tr-div btn-gradx0">
            <div class="profile-img"><i class="fa-solid fa-id-card-clip"></i></div>
            <div class="edit-group">
                <i class="input-edit fa-solid fa-pen-to-square" onclick="editUser('Supervisor', '{{ s.user.email }}','{{ s.user.fname }}','{{ s.user.lname }}','{{ s.user.email }}','{{ s.user.phone_number }}','{{ s.user.address }}','{{ s.admin_dept }}')"></i>
                {% comment %} Only Uncomment the proceeding comment if we want supervisors to be able to delete other supervisors {% endcomment %}
                 {% comment %} <form action="{% url "account-management" %}" class="delete-from" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="delete"> 
                    <input type="hidden" name="email" value={{s.user}}>
                    <i  class="input-imp fa-solid  fa-delete-left delete-confirm"></i>
                </form>  {% endcomment %}
            </div>
            <div>
                <div>
                    <div class="td-item text-capitalize">{{s.user.fname}} {{s.user.lname}}</div>
                    <div class="td-item text-lowercase">{{s.user.email}}</div>
                    <div class="td-item text-capitalize">{{s.admin_dept}}</div>
                </div>
            </div>
        </div>
         {% endfor %}
    </div>
</div>
<br><br>
{% endif %}
{% if role == "Supervisor" or role == "Instructor" %}
<div>
    <div class="d-flex justify-content-between">
        <div>
            <h3 class="d-inline">Instructors</h3>
            <p class="text-right badge badge-light">{{ instructors|length }} found</p>
        </div>
    </div>
    <div class="role-group">
        {% if instructors|length == 0 %}
        <p>Nothing to show here.</p>
       {% endif %}
        {% for i in instructors %}
        {% comment %} Silly bug {% endcomment %}
        <div class="tr-div btn-gradx1">
            <div class="profile-img"><i class="fa-solid fa-id-card-clip"></i></div>
           <div>
            {% if role == "Supervisor" %}
            <div class="edit-group">
                <div><i class="input-edit fa-solid fa-pen-to-square" onclick="editUser('Instructor', '{{ i.user.email}}','{{ i.user.fname }}','{{ i.user.lname }}','{{ i.user.email }}','{{ i.user.phone_number }}','{{ i.user.address }}','{{ i.instructor_dept }}')"></i></div>
                <form action="{% url "account-management" %}" class="delete-from" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="delete">
                    <input type="hidden" name="email" value={{i.user}}>
                    <i  class="input-imp fa-solid fa-delete-left delete-confirm"></i>
                </form>
            </div>
            {% endif %}
                <div class="td-item text-capitalize">{{i.user.fname}} {{i.user.lname}}</div>
                <div class="td-item text-lowercase">{{i.user.email}}</div>
                <div class="td-item text-capitalize">{{i.instructor_dept}}</div>
           </div>
        </div>
        {% endfor %}
    </div>
</div>
<br><br>
{% endif %}
<div>
    <div class="d-flex justify-content-between">
        <div>
            <h3 class="d-inline">TAs</h3>
            <p class="text-right badge badge-light">{{ tas|length }} found</p>
        </div>
    </div>
    <div class="role-group">
       {% if tas|length == 0 %}
        <p>Nothing to show here.</p>
       {% endif %}
        {% for t in tas  %}
        <div class="tr-div btn-gradx2">
            <div class="profile-img"><i class="fa-solid fa-id-card-clip"></i></div>
            <div>
                {% if role == "Supervisor" %}
                <div class="edit-group">
                    <div><i class="input-edit fa-solid fa-pen-to-square" onclick="editUser('TA', '{{ t.user.email }}','{{ t.user.fname }}','{{ t.user.lname }}','{{ t.user.email }}','{{ t.user.phone_number }}','{{ t.user.address }}','{{ t.ta_dept }}')"></i></div>
                    <form action="{% url "account-management" %}" class="delete-from" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="delete">
                        <input type="hidden" name="email" value={{t.user}}>
                        <i class="input-imp fa-solid fa-delete-left delete-confirm"></i>
                    </form>
                </div>
                {% endif %}
                <div class="td-item text-capitalize">{{t.user.fname}} {{t.user.lname}}</div>
                <div class="td-item text-lowercase">{{t.user.email}}</div>
                <div class="td-item text-capitalize">{{t.ta_dept}}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>