<nav class="custom-nav d-flex justify-content-between align-items-center">
    <div class="nav-group">
        <a href="/notifications" class="nav-btn {% if request.resolver_match.url_name == 'notifications' %}btn-grad4{% endif %}"><i class="fa-solid fa-envelope"></i></a>
        <a href="/courses" class="nav-btn {% if request.resolver_match.url_name == 'courses' %}btn-grad4{% endif %}"><i class="fa-solid fa-book-open-reader"></i></a>
        <a href="/assignments" class="nav-btn {% if request.resolver_match.url_name == 'assignments' %}btn-grad4{% endif %}"><i class="fa-solid fa-briefcase"></i></a>
        <a href="/contact-info" class="nav-btn {% if request.resolver_match.url_name == 'contact-info' %}btn-grad4{% endif %}"><i class="fa-solid fa-address-card"></i></a>
        {% if role and role == "Supervisor" %}
            <a href="{% url 'account-management' %}" class="nav-btn {% if request.resolver_match.url_name == 'account-management' %}btn-grad4{% endif %}"><i class="fa-solid fa-users"></i></a>
        {% endif %}
    </div>
    <div class="logout-component">
        <form id="logout_form" action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <i id="logout_btn" class="btn-grad5 fa-solid fa-right-from-bracket"></i>
        </form>
    </div>
</nav>
