{% extends "base.html" %} {% block title %} Account Management {% endblock %}
{% block content %}
<div class="for-some-stuff">
    {% comment %} <div class="p-5 text-center bg-image rounded-3" style="
        background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
        height: 400px;">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Heading</h1>
                <h4 class="mb-3">Subheading</h4>
                <a data-mdb-ripple-init class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a>
            </div>
            </div>
        </div>
    </div> {% endcomment %}
</div>
<header class="acct-mgmt-header">
    <div class="header-title">
        <h1>Account Management</h1>
        <button class="btn-grad3" id="add-modal"><i class="fa-solid fa-user-pen"></i></button>
    </div>
</header>
<hr style="background-color: white;">
<h2 style="font-family: Amatic SC; color:whitesmoke;">User List</h2>

<div class="table-div">
    {% comment %} <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Role</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead> {% endcomment %}
    <div class="tbody-div">
        {% include "partials/_allUsers.html" %}
    </div>
</div>
    <!-- Create Account Form -->
     <div id="modal-box-container">
        {% comment %} fa-regular fa-circle-xmark {% endcomment %}
        <div class="custom-back"><p id="remove-modal" class="btn-grad">Close</p></div>
        <div id="modal-box">
            <div class="custom-user-icon"><i class=" fa-solid fa-user-plus"></i></div>
            <h2 class="mb-4">Create Account</h2>
            <form id="create-account-form" action="{% url "account-management" %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="create">
                <div>
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="fname" placeholder="Enter first name" required>
                </div>
    
                <div><label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lname" placeholder="Enter last name" required></div>
    
                <div><label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter email" required></div>

                    <div>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password">
                    </div>

                    <div>
                        <label for="phone_number">Phone</label>
                        <input type="tel" name="phone_number" id="phone_number" placeholder="Enter phone number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                    </div>
                    <div>
                        <label for="address1">Address 1</label>
                        <input type="text" name="address1" id="address1" placeholder="Enter your address" required>
                    </div>
                    <div>
                        <label for="address2">Address 2(Optional)</label>
                        <input type="text" name="address2" id="address2" placeholder="Apartment, suite, unit no. etc.">
                    </div>
    
                <div><label for="role">Role</label>
                    <select id="role" name="role" required>
                    <option value="TA">TA</option>
                    <option value="Instructor">Instructor</option>
                    <option value="Supervisor">Supervisor</option>
                    </select>
                </div>

                <div><label for="dept">Department</label>
                    <input type="dept" id="dept" name="dept" placeholder="Enter Department" required></div>
               <div class="submit-btn mx-auto"><input class="btn-grad" type="submit" value="Create"></div>
            </form>
        </div>
     </div>
{% endblock %}