{% extends "base.html" %} {% block title %} Account Management {% endblock %}
{% block content %}
<div style="width: 98%; margin: auto;">
    <div class="for-some-stuff">
        <div class="special-jumbotron my-3 ml-2 text-center bg-image rounded-3" style="
            background-image: url('https://i.postimg.cc/Y01b6znb/undraw-Online-organizer-re-156n.png');
            height: 600px;">
            <div class="mask">
                <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3 text-capitalize">Hello, {{ role }} {{ user.fname }}</h1>
                    <h4 class="mb-3">We're delighted to have you back.</h4>
                    <a data-mdb-ripple-init class="btn btn-outline-light btn-lg" href="#!" role="button">View Dashboard</a>
                </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <main class="content">
        <div class="page-container">
            <div class="accounts-page-container">
                <header class="acct-mgmt-header">
                    <div class="header-title">
                        <h1>Account Management</h1>
                        {% if role == "Supervisor" %}
                        <button class="btn-grad3" id="add-modal"><i class="fa-solid fa-user-pen"></i></button>
                        {% endif %}
                    </div>
                </header>
                <hr style="background-color: white;">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-warning">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <h2 style="font-family: Amatic SC; color:whitesmoke;">User List</h2>
                
                <div class="table-div">
                    <div class="tbody-div">
                        {% include "partials/accounts/_allUsers.html" %}
                    </div>
                </div>
                {% if role == "Supervisor" %}
                    {% include "partials/accounts/_supervisorAccountManagement.html" %}
                {% endif %}
            </div>
            <aside>
                <div class="special-side-content">
                   <ul id="aside-nav">
                        <li class="aside-nav-list-item">Analytics</li>
                        <li class="aside-nav-list-item">Summary</li>
                        <li class="aside-nav-list-item">Report</li>
                        <button onclick="remove_mol()" id="btn_side_nav"><i class="text-light fa-solid fa-square-caret-up"></i></button>
                   </ul>
                   <div class="aside-content text-white" id="accounts-aside">
                        <div class="tooltip-aside">
                            <h4 class="display-4 w-75 mx-auto text-center">Click a tab to view</h4>
                        </div>
                        {% include "partials/accounts/_aside-0.html" %}
                        {% include "partials/accounts/_aside-1.html" %}
                        {% include "partials/accounts/_aside-2.html" %}
                   </div>
                </div>
            </aside>
        </div>
    </main>
</div>
{% endblock %}