{% extends 'base.html' %}
{% block title %}
  Courses
{% endblock %}

{% block content %}
  <div class="course-page-container">
    <div class="d-flex justify-content-center align-items-center jumbotron jumbotron-fluid" style="background-image: url('/static/media/undraw.svg');">
      <div class="container text-white">
        <h1 class="display-2" style="font-family:sans-serif;">Quick Overview</h1>
        <div class="text-center" style="font-family:sans-serif;">
          <p class="lead w-75 mx-auto">Currently managing {{ courses|length }} course{{ courses|pluralize }}</p>
          <p>No section data currently available.</p>
        </div>
      </div>
    </div>
    <div class="d-flex text-white">
      <h1>Manage Courses</h1>
      <!-- Button to Create a New Course -->
      <button class="btn-grad3 mx-2" onclick="openModal()"><i class="fa-solid fa-folder-plus"></i></button>
    </div>

    <!-- Display Messages -->
    {% if messages %}
      <div class="w-50">
        {% for message in messages %}
          <p class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <!-- Table for Displaying Courses -->
    <div class="table-wrapper">
      <div class="table-content">
        <div class="table-header">
          <p class="d-inline-block">Title</p>
          <p class="d-inline-block">Course Code</p>
          <p class="d-inline-block">Department</p>
          <p class="d-inline-block">Credits</p>
          <p class="d-inline-block">Actions</p>
        </div>
        {% for course in courses %}
          <div class="custom-card">
            <p>{{ course.course_name }}</p>
            <p>{{ course.course_identifier }}</p>
            <p>{{ course.course_dept }}</p>
            <p>{{ course.course_credits }}</p>
            <!-- Edit and Delete Actions -->
            <div class="d-inline justify-content-center ml-4">
              <button class="btn btn-outline-dark mr-3 text-white" onclick="openModal('{{ course.course_id }}', '{{ course.course_name }}', '{{ course.course_identifier }}', '{{ course.course_dept }}', '{{ course.course_credits }}')"><i class="fa-solid fa-pen-nib"></i></button>
              <form method="post" action="{% url 'courses-supervisor' %}" class="d-inline">
                {% csrf_token %}
                <input type="hidden" name="course_id" value="{{ course.course_id }}" class="deleteFormCourse"/>
                <input type="hidden" name="action" value="delete" />
                <button type="submit" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></button>
              </form>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="sections-container">
        <div id="sec-message">
          <p class="w-50 mx-auto card bg-dark text-light text-center" style="font-family:Modern Antiqua;">Section Info</p>
          <p class="w-75 mx-auto text-center">Click on a course card to view its related sections</p>
        </div>
        <div id="ol-sections" class="d-none">
          
          <!-- Button to Create a New Section -->
           <div class="w-75 mx-auto"><button class="create-btn btn-grad3 mx-auto" onclick="openSectionModal()"><i class="fa-solid fa-puzzle-piece"></i></button></div>
          <div class="table-wrapper">
            <div class="table-div overflow-scroll custom-anotherx0">
              <div id="sections-content">
                {% for section in sections %}
              
                  <div class="custom-card2">
                    <input class="d-none course_class_for_section" type="text" value="{{ section.section_course.course_id }}">
                    <div class="item">Section number: {{ section.section_num }}</div>
                    <div class="item">Typer: {{ section.section_type }}</div>
                    <div class="item">Course: {{ section.section_course.course_name }}</div>
                    <div class="item">Days of Week:{{ section.days_of_week }}</div>
                    <div class="item">Time:{{ section.section_startTime }} - {{ section.section_endTime }}</div>
                    <div class="item">
                      {% if section.section_ta %}
                        {{ section.section_ta.user.fname }} {{ section.section_ta.user.lname }}
                      {% else %}
                        No TA
                      {% endif %}
                    </div>
                    <div class="item">
                      {% if section.lecture_instructor %}
                        {{ section.lecture_instructor.user.fname }} {{ section.lecture_instructor.user.lname }}
                      {% else %}
                        No Instructor
                      {% endif %}
                    </div>
                    <div class="item edit-group-sections">
                      <button class="btn btn-outline-success" onclick="openSectionModal('{{ section.section_id }}', '{{ section.section_type }}', '{{ section.section_num }}', '{{ section.section_course.course_name }}', '{{ section.days_of_week }}', '{{ section.section_startTime }}', '{{ section.section_endTime }}', '{{ section.section_ta.id|default:'' }}', '{{ section.lecture_instructor.id|default:'' }}')">
                        <i class="fa-solid fa-pen-to-square"></i>
                      </button>
                      <form method="post" action="{% url 'courses-supervisor' %}" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="deleteSection" />
                        <input type="hidden" name="section_id" value="{{ section.section_id }}" />
                        <button type="submit" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></button>
                      </form>
                      
                    </div>
                  </div>
                {% endfor %}
              </div>
              <!-- Modal for Create/Edit Section -->
              <div id="sectionModal" class="modal" style="display:none; color:black;">
                <div class="modal-content">
                  <span class="close-btn" onclick="closeSectionModal()" style="">&times;</span>
                  <h2 id="modalTitle">Create/Edit Section</h2>
                  <form method="post" action="{% url 'courses-supervisor' %}" id="sectionForm" class="w-75">
                    {% csrf_token %}
                    <input type="hidden" name="action" id="formAction" value="createSection" />
                    <input type="hidden" name="section_id" id="sectionIdField" />
                    <input type="hidden" name="course_id" id="sectionsCourseId">
                    <label for="section_type">Section Type:</label>
                    <input type="text" id="sectionTypeField" name="section_type" required />

                    <label for="section_num">Section Number:</label>
                    <input type="number" id="sectionNumField" name="section_num" required />

                    <label for="section_days">Days of Week:</label>
                    <input type="text" id="sectionDaysField" name="days_of_week" required />

                    <label for="section_startTime">Start Time:</label>
                    <input type="time" id="sectionStartTimeField" name="section_startTime" required />

                    <label for="section_endTime">End Time:</label>
                    <input type="time" id="sectionEndTimeField" name="section_endTime" required />

                    <label for="instructor_id">Assign Instructor:</label>
                    <select id="instructorIdField" name="lecture_instructor">
                      <option value="" selected disabled>Select Instructor</option>
                      {% for instructor in instructors %}
                        <option value="{{ instructor.id }}">{{ instructor.user.fname }} {{ instructor.user.lname }}</option>
                      {% endfor %}
                    </select>

                    <label for="ta_id">Assign TA:</label>
                    <select id="taIdField" name="section_ta">
                      <option value="" selected disabled>Select TA</option>
                      {% for ta in tas %}
                        <option value="{{ ta.id }}">{{ ta.user.fname }} {{ ta.user.lname }}</option>
                      {% endfor %}
                    </select>

                    <button type="submit" class="btn-gradx0">Save</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal for Create/Edit Course -->
    <div id="courseModal" class="modal" style="display:none;">
      <div class="modal-content">
        <span class="close-btn" onclick="closeModal()"><i class="fa-regular fa-circle-xmark"></i></span>
        <h2 id="modalTitle">Create/Edit Course</h2>
        <form method="post" action="{% url 'courses-supervisor' %}" id="courseForm">
          {% csrf_token %}
          <input type="hidden" name="course_id" id="courseIdField" />
          <input type="hidden" name="action" value="create" id="courseFormAction" />
          <div>
            <label for="course_name">Course Name:</label>
            <input type="text" id="courseNameField" name="course_name" required />
          </div>
          <div>
            <label for="course_identifier">Course Identifier:</label>
            <input type="text" id="courseIdentifierField" name="course_identifier" required />
          </div>
          <div>
            <label for="course_dept">Department:</label>
            <input type="text" id="courseDeptField" name="course_dept" required />
          </div>
          <div>
            <label for="course_credits">Credits:</label>
            <input type="number" id="courseCreditsField" name="course_credits" required />
          </div>
          <button type="submit" class="btn-grad3 red-btn">Save</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
