{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Login Page
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Rubik+Wet+Paint&family=Russo+One&family=Sarina&family=Sofia&family=Teko:wght@300&family=Amatic+SC:wght@400&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="login-container">
        <div class="login-component">
           <div class="welcome-panel">
                <h1>Welcome to TA Scheduler</h1>
           </div>
            <form id="login-form" class="login-form" action="/" method="post">
              <h3>Login</h3>
            {% csrf_token %}
            <div class="errors">
              {% for error in form.non_field_errors %}
             <div class="myalert"> <div class="alert alert-warning alert-dismissible">
              <a href="/" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <p>{{ error }}</p>
            </div>
            </div>
            {% endfor %}
            </div>
  
                <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Username" required>

                <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
  </body>
</html>